@charset "UTF-8";

html { height:100%; font-size:62.5%; }
body {
	position:relative;
	margin-left:auto; margin-right:auto; width:auto; height:auto;
	//background:#FBD8B5;
	background:#C1F475;
	background: -moz-linear-gradient(top, #FFFFFF, #C1F475);/* Firefox用 */
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#C1F475)); /* Safari,Google Chrome用 */


color:#740525;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:100;
	-webkit-text-size-adjust: 100%;
}
.hb-navigation {
	position:absolute;
	top:35px;
	right:20px;
	width:50px;
	height:50px;
	background:none;
	cursor:pointer;
}
.hb-navigation .button {
	position:relative;
	position:fixed;
	width:50px;
	height:4px;
	background:#ffffff;
	transition:all .5s;
	-webkit-transition:all .5s;
	z-index:9999;
}
.hb-navigation .button::before, .hb-navigation .button::after {
	position:absolute;
	width:50px;
	height:4px;
	background:#740525;
	transition:all .5s;
	-webkit-transition:all .5s;
	transition-delay:.5s;
}
.hb-navigation .button::before {
	content:'';
	top:-19.5px;
}
.hb-navigation .button::after {
	content:'';
	top:19.5px;
}
.hb-navigation .action.button {
	position:relative;
	position:fixed;
	width:50px;
	height:2px;
	background:none;
	transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
}
.hb-navigation  .action.button::before {
	position:absolute;
	top:0;
	width:50px;
	height:2px;
	background:#fff;
	transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
}
.hb-navigation  .action.button::after {
	position:absolute;
	top:0;
	width:50px;
	height:2px;
	background:#fff;
	transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
}
.navigation-contents {
	position:relative;
	top:0;
	left:0;
	background:rgba(0,0,0,.75);
	width:100%;
	margin:auto;
	text-align:center;
	opacity:0;
	transition:all .5s;
	-webkit-transition:all .5s;
	transform:translateY(-100%);
	-webkit-transform:translateY(-100%);
	z-index:9998;
}
.navigation-contents.open {
	position:relative;
	position:fixed;
	opacity:1;
	transform:translateY(0);
	-webkit-transform:translateY(0);
}
.section {
	position:absolute;
	background:rgba(0,0,0,.75);
}
.section.menu p {
	font-size:26px;
	font-weight:100;
	padding:30px 0 ;
}
.section.menu p a {
	color:#fff;
	padding:30px 0 ;
	border-bottom:dotted 1px #fff;
}
@media (max-width:767px){
	.section.menu p {
		font-size:36px;
		padding:15px 0 ;
	}
	.section.menu p a {
		color:#fff;
		padding:15px 0 ;
		border-bottom:dotted 1px #fff;
	}
}
section {
	transition:all 1s;
	-webkit-transition:all 1s;
}

section.close{
	font-weight:100;
	transform:scale(.85,.85);
	-webkit-transform:scale(.85,.85);
}

.title {
	/*font-size:60px;*/
	font-size:45px;
	margin-top:80px;
}
.content {
	font-size:32px;
}
p {
	margin:0;
}

.content p{
	font-size: 15px;
}